body {
    background-color: #8FBC8F;
}
#loadingBox {
    display: none;
}

#infoBox {
    display: none;
}

#errorBox {
    display: none;
}

#viewHome {
    display: none;
}

#viewLogin {
    display: none;
}

#viewRegister {
    display: none;
}

#viewRecipes {
    display: none;
}

#viewMyRecipes {
    display: none;
}

#viewProfile {
    display: none;
}

/*admin CREATE th AND td CLASS TO STYLE*/
#viewUsers {
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}
table th {
    background: #ddd;
    font-size: 1.2em;
    padding: 10px;
}

table td {
    background: #ddd;
    padding: 5px 10px;
}
/*admin*/

#viewShowRecipe {
    display: none;
}

#viewNewRecipe {
    display: none;
}

#viewEditRecipe {
    display: none;
}

html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

h1 {
    color: #494949;
    text-align: center;
}

p, div {
    color: #494949;
    font-size: 20px;
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: whitesmoke;
    padding: 5px 0;
    color: #008000;
}

.navbar-links {
    margin: auto;
    display: inline-block;
}

.navbar-link {
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    font-size: 22px;
    transition: background-color .3s, color .3s;
    color: #008000;
}

.navbar-link:hover {
    background-color: #cacaca;
    color: #494949;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.siteLogo {
    height: 50px;
    width: 150px;
}

.logo {
    display: inline-block;
}
#userGreeting {
    padding: 10px;
    display: inline-block;
    float: right;
    color: #cacaca;
    font-size: 22px;
}

footer {
    display: inline-block;
    width: 100%;
    clear: both;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    background-color: whitesmoke;
    color: green;
}

footer p {
    font-size: 16px;
}

.facebookBox {
    margin: auto;
    padding: 10px;
    position:relative;
    float:right;
}
.selected {
    background-color: #dcdcdc;
    color: white;
}

section {
    padding: 20px;
}

#infoBox, #errorBox, #loadingBox {
    padding: 20px;
    text-align: center;
}

#errorBox {
    background-color: rgba(255, 0, 0, 0.4);
}

#infoBox {
    background-color: rgba(0, 255, 0, 0.4);
}

.inputBox {
    padding: 10px;
    width: 300px;
    transition: background-color .3s, color .3s;
    border: none;
    background-color: #cacaca;
    color: #494949;
    margin-top: 5px;
    margin-bottom: 5px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}

.inputBox:focus {
    background-color: #5d5d5d;
    color: #ffffff;
    transition: background-color .3s, color .3s;
    outline: transparent none;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 120px;
    padding: 10px;
    border: none;
    background-color: whitesmoke;
    color: #008000;
    transition: background-color .3s, color .3s;
    outline: transparent none;
}

.button:hover {
    color: #5d5d5d;
    background-color: #cacaca;
    transition: background-color .3s, color .3s;
}

.recipeBox:hover {
    cursor: pointer;
}
 
/* slideshow start */
.mySlides {
    display:none;
    width: 100%;
    height: 150px;
}

/* slideshow end */

.backToTopContainer{
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}

.w3-content {
    width: 100%;
    height: 150px;
}

.description {
    text-align: center;
}
.recipeImageUpload{
    margin:auto;
    width:300px;
}
.recipeImageUpload img {
    width: 100%;
}
.recipeBox{
    width: 300px;
    margin: auto;
    cursor: pointer;
    margin-bottom: 20px;
    border: solid;
    border-color: antiquewhite;
}



/* recipe categories start */
.recipeCategoriesFilter {
    width: 300px;
    background-color: darkgrey;
    padding: 5px 5px;
    text-align: center;
}

.recipeCategoriesFilter-filters {
    margin: auto;
    display: block;
}

.recipeCategoriesFilter-filter {
    display: block;
    padding: 10px;
    font-weight: 500;
    font-size: 22px;
    transition: background-color .3s, color .3s;
    color: #ffffff;
}

.recipeCategoriesFilter-filter:hover {
    background-color: gainsboro;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}
/* recipe categories end */